a {
  color: #1A535C;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif !important;
}

.background-img {
  background-image: url("grand_teton_bg.jpg");
}

.remove-bullets {
  list-style-type: none;
}

.clean-border {
  border-style: solid;
  border-color: #4ECDC4;
}

.position {
  text-align: left;
  margin-top: 200px;
  font-size: 24px;
}
